body {
  font: 10px sans-serif;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

h2 {
    text-align: center;
}

#selectionarea {
    bottom: 10px;
}